html,
body {
    text-align: center;
    background-color: #282828;
    font-family: "Oswald";
    height: 100%;
}

.container {
    height: 100%
}

.parts {
    background: #ffffff;
    width: 40px;
    height: 40px;
    padding: 1px;
}
